# Ambientes virtuais
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dados (Opcional, mas recomendado para Big Data)
# data/raw/
# data/output/

# Arquivos de ambiente com senhas/tokens
.env